apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: pages
spec:
  selector:
    matchLabels:
      app: pages
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: pages
    spec:
      containers:
        - image: mysql:5.6
          name: mysql
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-pass
                  key: password
            - name: MYSQL_SERVICE_HOST
              value: "pages-mysql"
            - name: MYSQL_SERVICE_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              value: "pages"
            - name: MYSQL_USER
              value: "root"
          ports:
            - containerPort: 3306
              name: mysql
          readinessProbe:
            exec:
              command:
                - "/bin/bash"
                - "-c"
                - "mysql -D $$MYSQL_DATABASE -p$$MYSQL_ROOT_PASSWORD -e 'SELECT 1'"
            initialDelaySeconds: 5
            periodSeconds: 2
            timeoutSeconds: 1
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: gold-claim